* {
  background-color: #302f2f;
}
h1 {
  color: #fc7300;
  font-size: 55px;
}
#duck-logo {
  padding-right: 200px;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.img-container {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* classrepo */
.img-container > img {
  width: 25%;
  height: auto;
  border: 10px groove #023f13;
}
/* classrepo */
.results {
  display: flex;
  flex-direction: column;
}

.list-container {
  font-size: large;
  padding: 10px;
}
ul {
  list-style-type: square;
}
li {
  color: #ffffff;
}

/* https://uiverse.io/vikiWayne/slimy-horse-19 */
button {
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #000000;
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #444d44;
  margin: auto;
  display: block;
  background-color: rgb(224, 76, 76);
  display: block;
}

button:hover {
  color: #ffffff;
  transform: scale(1.1);
  outline: 2px solid #f5fcfd;
  box-shadow: 4px 5px 17px -4px #000000;
}

button::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #137321;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

button:hover::before {
  width: 250%;
}
